// Import font face

// Font DM sans
@font-face
  font-family: 'SourceCodePro'
  font-weight: 400
  src: url("../fonts/SourceCodePro-Regular.woff2") format('woff2')

@font-face
  font-family: 'SourceCodePro'
  font-weight: 500
  src: url("../fonts/SourceCodePro-Medium.woff2") format('woff2')

@font-face
  font-family: 'SourceCodePro'
  font-weight: 600
  src: url("../fonts/SourceCodePro-Bold.woff2") format('woff2')

@font-face
  font-family: 'icons'
  src: url("../fonts/font-icons.woff2") format('woff2')